.vscode/settings.json
logs/torch_lip_layers/FrobeniusConv2d/model.h5
logs/torch_lip_layers/SpectralConv2d/model.h5
logs/torch_lip_layers/SpectralConv1d/model.h5
logs/torch_lip_layers/SpectralLinear/model.h5
logs/torch_lip_layers/FrobeniusLinear/model.h5
logs/torch_lip_layers/Linear/model.h5
