.tutorials-header .header-logo {
   background-image: url("../images/logo.svg");
   background-size: 270px 45px;
   height: 45px;
   width: 270px;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.function dt .reference.external,
.class .attribute dt .reference.external,
.class dt .reference.external {
   position: relative;
   padding-right: initial;
   right: auto;
   top: auto;
}

/* By default, images are 100% width. Overriding to get standard image size */
article.pytorch-article img {
	width: auto;
}
